.button {
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weigth-600);
  border-radius: var(--radius-base);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  color: var(--color-button);
  border: var(--border-button-size) solid transparent;
  transition: filter 100ms ease-in-out;
}

.button:hover {
  filter: brightness(1.1);
  transition-duration: 300ms;
}

.button:active {
  filter: brightness(.9);
  box-shadow: none;
  transition-duration: 100ms;
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-button-primary);
  border-color: var(--border-color-button-primary);
}

.button-secondary {
  background-color: var(--background-color-light);
  color: var(--color-button-secondary);
  border-color: var(--border-color-button-secondary);
}

.button-tertiary {
  background-color: var(--color-tertiary);
  color: var(--color-button-tertiary);
  border-color: var(--border-color-button-tertiary);
}

.button-quaternary {
  background-color: var(--color-quaternary);
  color: var(--color-button-quaternary);
  border-color: var(--border-color-button-quaternary);
}

.button-quinary {
  background-color: var(--color-quinary);
  color: var(--color-button-quinary);
  border-color: var(--border-color-button-quinary);
}

.button-small {
  font-size: var(--font-size-sm);
  padding: var(--padding-button-sm);
  box-shadow: var(--box-shadow-sm);
}

.button-medium {
  font-size: var(--font-size-base);
  padding: var(--padding-button-base);
  box-shadow: var(--box-shadow-base);
}

.button-large {
  font-size: var(--font-size-lg);
  padding: var(--padding-button-lg);
  box-shadow: var(--box-shadow-lg);
}
