.button {
  font-family: var(--font-family-brand), var(--font-family-sans);
  font-weight: var(--font-weigth-semibold);
  border-radius: var(--border-radius-base);
  cursor: pointer;
  display: inline-block;
  line-height: var(--line-height-none);
  color: var(--button-color-default);
  border: var(--button-border-size) solid transparent;
  transition: filter 100ms ease-in-out;
}

.button:hover {
  filter: brightness(1.1);
  transition-duration: 300ms;
}

.button:active {
  filter: brightness(.9);
  box-shadow: none;
  transition-duration: 100ms;
}

.button-primary {
  background-color: var(--colors-brand-primary);
  color: var(--button-color-primary);
  border-color: var(--button-border-color-primary);
}

.button-secondary {
  background-color: var(--colors-white);
  color: var(--button-color-secondary);
  border-color: var(--button-border-color-secondary);
}

.button-tertiary {
  background-color: var(--colors-brand-tertiary);
  color: var(--button-color-tertiary);
  border-color: var(--button-border-color-tertiary);
}

.button-quaternary {
  background-color: var(--colors-brand-quaternary);
  color: var(--button-color-quaternary);
  border-color: var(--button-border-color-quaternary);
}

.button-quinary {
  background-color: var(--colors-brand-quinary);
  color: var(--button-color-quinary);
  border-color: var(--button-border-color-quinary);
}

.button-small {
  font-size: var(--font-size-sm);
  padding: var(--button-padding-sm);
  box-shadow: var(--shadows-sm);
}

.button-medium {
  font-size: var(--font-size-md);
  padding: var(--button-padding-base);
  box-shadow: var(--shadows-base);
}

.button-large {
  font-size: var(--font-size-lg);
  padding: var(--button-padding-lg);
  box-shadow: var(--shadows-lg);
}
